html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.linkcreate {
    text-decoration: none;
    position: relative;
}

.linkcreate::before {
    content: "";
    visibility: hidden;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: blue;
    transition: 300ms ease-in-out;
}

.linkcreate:hover::before, .linkcreate.active::before {
    width: 100%;
    visibility: visible;
}